.aws/
*.pem
*.zip
.terraform/
*.tfstate
*.tfstate.*
.venv/
install
README.md
THIRD_PARTY_LICENSES
dist/aws
dist/aws_completer
dist/lib*
dist/_awscrt.abi3.so
dist/base_library.zip
dist/lib-dynload/
dist/awscli/
dist/docutils/
dist/setuptools/
dist/prompt_toolkit-3.0.51.dist-info/
dist/dateutil/

__pycache__/
*.pyc
